extends layout

block scripts
  script(src='/js/jsGridUtils.js')
  script. 
    $(function() {
        var fields = [
          { name: "first_name", title: "First Name", type: "text", width: 150 , css: "trim-overflow"},
          { name: "last_name", title: "Last Name", type: "text", width: 150, css: "trim-overflow" },
          { name: "formatted_date_of_birth", title: "D.O.B.", type: "text", width: 100 },
          { name: "formatted_date_of_death", title: "D.O.D.", type: "text", width: 100 },
          { name: "url", type: "text", visible: false},
          { type: "control" }
        ];
        initGrid('jsGrid', '/author/list/load_grid', fields);
    });    

block content

  h1=title
  
  div#jsGrid