extends layout

block scripts
  script(src='/js/jsGridUtils.js')
  script. 
    $(function() {
        var fields = [
          { name: "first_name", title: "First Name", type: "text", width: 150 , css: "trim-overflow"},
          { name: "last_name", title: "Last Name", type: "text", width: 150, css: "trim-overflow" },
          { name: "phone", title: "Phone", type: "text", width: 100 },
          { name: "email", title: "Email", type: "text", width: 100 },
          { name: "Since", type: "text", visible: false},
          { type: "control" }
        ];
        initGrid('jsGrid', '/member/list/load_grid', fields);
    });    

block content

  h1=title
  
  div#jsGrid